{% extends 'base.html' %}
{% load static %} 

{% block extrahead %}
 
<title>Ingreso</title>
<style>

    @media screen and (max-width:500px){
        #logo_uis{
            width: 40vw;
        }        
    }

    @media screen and (min-width:500px){
        #logo_uis{
            width: 200px;
        }        
    }
    
    #logo_uis{
        margin-top: 10%;
    }

    #logo_luis{
        width: 200px;
        margin-top: 10%;
    }

    #logo_luis{
        height: 40vh;
    }

    .label_input{
        text-align: center;
    }
    
    .login_div{
        height: 35vh;
    }

    .logos_div{
        height: 20vh;
    }

    .luis_div{
        height: 30vh;
    }

    
</style>
{% endblock extrahead%}

{% block title %}
{% endblock title %}

{% block content %}

<div class="d-flex flex-row justify-content-center">
    <div class="p-2">
        <img id="logo_uis" src="{% static 'img/uis.png' %}">
    </div>  
</div>
<div class="d-flex justify-content-center align-items-center login_div" style="text-align: center;">    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="input-label label_input">APP MONITOREO</sub></h1>
        <input type="text" required='' name="user" id="user" placeholder="Ingresar Usuario" class="form-control form-control-lg">
        <br>
        <button class="btn btn-primary">INGRESAR</button>
    </form>
</div>
<div class="d-flex flex-row luis_div justify-content-center">
    <div class="p-2">
        <img id="logo_luis" class="p-2" src="{% static 'img/luis_salud_1.jpg' %}">
    </div>   
</div>
{% endblock content%}